body{
    background-color: #fad390;
}
header{
    font-family: 'Courier Prime', monospace;
    float: left;
    width: 100%;
    font-size: 300%;
    text-align: center;
    padding-bottom: 2%;
    
}
.headerLink{
    padding-left: 10%;
}
.container{
    margin-top: 5%;
    margin-left: 5%;
}
.dataText{
    font-family: 'Merriweather', serif;
}
#errorKleur{
    color: #aa0000;
}
#mustB_admin{
    color: #ec2f2f;
    font-size: 20px;
    text-align: center;
  
}
