body{
    background-color: #fad390;
}
header{
    font-family: 'Courier Prime', monospace;
    float: left;
    width: 100%;
    font-size: 300%;
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    
}
.headerLink{
    padding-left: 10%;
}
.container{
    margin-top: 10%;
}
.dataText{
    font-family: 'Merriweather', serif;
}
#errorKleur{
    color: #aa0000
}